header {
    border-bottom: 1px solid black;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.hideOnSmall {
    display: none;
}

.toyotaLogo {
    width: 3.5rem;
}

.whatsappLogo {
    width: 2.5rem;
}

.menuIcon {
    width: 2.5rem;
}

.closeIcon {
    width: 3rem;
}

.sidebar {
    display: none;
    position: fixed;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0, 0.1);
    background-color: rgba(13, 13, 13, 0.573);
    backdrop-filter: blur(10px);
    flex-direction: column;
}

@media screen and (min-width: 480px) {
    .sidebar {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .menuList {
        display: none;
    }

    .hideOnSmall {
        display: block;
    }

    nav ul {
        font-size: 1rem;
    }

    nav ul li {
        width: 10%;
        text-align: center;
    }
}

